#sidebar{
    background: linear-gradient(180deg, #92ECEC 0%, #14CCCC 100%);
    width:100%;
    display:flex;
    align-items: center;
    justify-content:start;
    flex-direction:column;
}

@keyframes fade-in{

    100%{
        transform:translateY(0);
    }
  }